<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar --------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li><a href="index.html">HOME</a></li></ul>
                <ul><li><a href="programs.html">PROGRAMS</a></li></ul>
                <ul><li><a href="about.html">ABOUT US</a></li></ul>
                <ul><li><a href="blog.html">BLOG</a></li></ul>
                <ul><li><a href="contact.html">CONTACT US</a></li></ul>
                <ul><li><a href="membership.html">MEMBRSHIP</a></li></ul>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- About  ------------------------------------------------->
    <div class="about" >
        <div class="row" >
            <div class="about-col-1">
                <img src="image/Worship.jpg">
            </div>
            <div class="about-col-2">
                <h1  class="Sub-title"> About Us</h1> 
                <p> Divine Mercy Seat Assembly is a word based church that belives in the mistry of christ and bringing
                    the ministry of consilation to the world through the word of christ, miracles and worship. It is a grate vision and
                     you are welcome to join in on this mandate.
                </p>
            </div>
        </div>
    </div>

    <!--------------------------------------------- footer  -------------------------------------------------->
<script src="Dmsa.js"></script>
</body>
</html>