<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar --------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li><a href="index.html">HOME</a></li></ul>
                <ul><li><a href="programs.html">PROGRAMS</a></li></ul>
                <ul><li><a href="about.html">ABOUT US</a></li></ul>
                <ul><li><a href="about.html">TESTIMONIES</a></li></ul>
                <ul><li><a href="programs.html">GIVE</a></li></ul>
                <ul><li><a href="blog.html">BLOG</a></li></ul>
            </div>
            <div>
                <button id="nav-but">MEMBERSHIP</button>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- Blog ------------------------------------------------->
    <div class="blog" >
        <div class="blog-row" >
            <div class="blog-col-1">
                <img src="image/blog.webp">
            </div>
            <div class="blog-col-2">
                <h1 class="Sub-title">Weekly Inspirational Messages</h1> 
                <p> Same Power!

                    Ephesians 1:19 - 20 AMPC

                    And [so that you can know and understand] what is the immeasurable and unlimited and surpassing greatness of His power in and for us who believe, as demonstrated in the working of His mighty strength, Which He exerted in Christ when He raised Him from the dead and seated Him at His [own] right hand in the heavenly [places],
                    
                    Our faith in Christ is baseless without the resurrection. We often sing, preach, teach, and shout about the resurrection of Jesus with a tone of finality. The challenge is that we refer to this incident as an event of the past.
                    
                    The resurrection power is alive and active inside of us today as it was when God raised Christ from the dead 2000 years ago. The resurrection power is a Spirit and He is called the Holy Spirit or Spirit of Holiness. We are human beings on God's level.
                    
                    WORDS OF WISDOM
                    
                    Imagine this for a moment a man carrying inside of him a volume of power commensurate with 33-66kv of power. That man will be a mobile wake of disaster and tragedy as he moves. He will dry up human beings, burn down houses, and leave entire cities in ruin. The  Same power can produce great positive results in every aspect of society when properly channeled. What we have inside of the believer is God's exceeding great, incomparable and boundless power in the Holy Spirit.
                    
                    The Holy Spirit is the power above all powers. He brought down the army of hell and horses of demons on their knees at the resurrection. Also, He turned the ripped body of Jesus into an immortal one. With the Holy Spirit in us, we can bring answers and solutions that will befuddle the human imagination. Do you know this power?
                    
                    Declare
                    
                    Holy Spirit thank you for taking hold of my life. You are at work in me doing the work of Jesus, extraordinarily. Hallelujah!
                    
                </p>
            </div>
        </div>
    </div>

    <!--------------------------------------------- footer  -------------------------------------------------->
<script src="Dmsa.js"></script>
</body>
</html>