<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar --------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li><a href="index.html">HOME</a></li></ul>
                <ul><li><a href="programs.html">PROGRAMS</a></li></ul>
                <ul><li><a href="about.html">ABOUT US</a></li></ul>
                <ul><li><a href="give.html">GIVE</a></li></ul>
                <ul><li><a href="blog.html">BLOG</a></li></ul>
            </div>
            <div>
                <button id="nav-but">MEMBERSHIP</button>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- Give ------------------------------------------------->
    <div class="give" >
        <div class="section-give"> 
            <h3> Complete your tithe, offering, and other contributions effortlessly.
                <br> Choose your preferred payment method below.</h3>
            <img src="image/give2.jpeg">
        </div>
        <div class="bank-1">
            <div class="bank-name">
                <img src="image/access-logo.webp">
            <h4>Account Name: Divine Mercy Seat</h4>
            <h4>Account Number: 0689037083</h4>
            </div>
            <div class="bank-name">
                <img src="image/uba-logo.webp">
            <h4>Account Name: Divine Mercy Seat</h4>
            <h4>Account Number: 0689037083</h4>
            </div>
            <div class="bank-name">
                <img src="image/access-logo.webp">
            <h4>Account Name: Oluwasegun Makinde</h4>
            <h4>Account Number: 0689037083</h4>
            </div>
            </div>
            
    </div>

    <!--------------------------------------------- footer  -------------------------------------------------->
<script src="Dmsa.js"></script>
</body>
</html>