<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar --------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li>HOME</li></ul>
                <ul><li>PROGRAMS</li></ul>
                <ul><li>ABOUT US</li></ul>
                <ul><li>BLOG</li></ul>
                <ul><li>CONTACT US</li></ul>
                <ul><li>MEMBRSHIP</li></ul>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- Body  ------------------------------------------------->
    <div class="Body">
        <img src="image/Logo.png">
        <img class="active-1" src="image/2024Team.png">
        <img class="active-2" src="image/Worship.jpg">
    </div>

    <!--------------------------------------------- footer  ---------------------------->
    <div class="footer">
        <button>Prayer Request</button>
        <button>Plan To Vist</button>
    </div>
<script src="Dmsa.js"></script>
</body>
</html>