<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar -------------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li><a href="index.html">HOME</a></li></ul>
                <ul><li><a href="programs.html">PROGRAMS</a></li></ul>
                <ul><li><a href="about.html">ABOUT US</a></li></ul>
                <ul><li><a href="about.html">TESTIMONIES</a></li></ul>
                <ul><li><a href="programs.html">GIVE</a></li></ul>
                <ul><li><a href="blog.html">BLOG</a></li></ul>
            </div>
            <div>
                <button id="nav-but">MEMBERSHIP</button>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- Body  ------------------------------------------------->
    <div class="programs">
        <div class="sections-1">
            <div class="section-1-left">
              <img src="image/DIVINE_3.jpg">
            </div>
            <div class="section-1-right">
                <h1>VICTORY HOUR SERVICE</h1>
              <p>Join us every Sunday for Victory Hour Service, a powerful session dedicated to enriching your spiritual journey. 
                 Through enlightening teachings, genuine worship, and miraculous encounters, we seek to align ourselves with God's divine direction for our lives.
                 This Sunday gathering is infused with the Holy Spirit, uplifting your soul and connecting you to the presence of the Lord.
              </p>
            </div>  
        </div>
        <div class="sections-2">
            <div class="section-2-left">
                <h1>VICTORY HOUR SERVICE</h1>
                <p>Join us every Sunday for Victory Hour Service, a powerful session dedicated to enriching your spiritual journey. 
                   Through enlightening teachings, genuine worship, and miraculous encounters, we seek to align ourselves with God's divine direction for our lives.
                   This Sunday gathering is infused with the Holy Spirit, uplifting your soul and connecting you to the presence of the Lord.
                </p>
            </div>
            <div class="section-2-right">
              <img src="image/DIVINE_3.jpg">
               
            </div>  
        </div>

        
        <div class="sections-2"> 
            <h1>CURRENT UNGOING PROGRAMS</h1>
            <div>
            <img class="active-0 active" src="image/DIVINE_3.jpg">
            <img class="active-1 hidden" src="image/DIVINE_2.jpg">
            <img class="active-2 hidden" src="image/DIVINE_1.jpg">
            </div>
        </div>
        <div class="sections-3"> 
            <h1>UPCOMING PROGRAMS</h1>
            <div>
            <img class="active-0 active" src="image/loud shout.jpg">
            </div>
        </div>
        
    </div>

    <!--------------------------------------------- footer  ---------------------------->
<script src="Dmsa.js"></script>
</body>
</html>