<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dmsa.css">
    <title>Divin Mercy Seat Assembly</title>
</head>
<body>
    <!------------------------------------------- Navbar --------------------------------------------------->
    <div class="Navbar">
        <nav>
            <div class="logo">
                <img src="image/Logo.png">
            </div>
            <div class="header">
                <ul><li><a href="index.html">HOME</a></li></ul>
                <ul><li><a href="programs.html">PROGRAMS</a></li></ul>
                <ul><li><a href="about.html">ABOUT US</a></li></ul>
                <ul><li><a href="blog.html">BLOG</a></li></ul>
                <ul><li><a href="contact.html">CONTACT US</a></li></ul>
                <ul><li><a href="membership.html">MEMBRSHIP</a></li></ul>
            </div>
        </nav>
    </div>

    <!---------------------------------------------- Body  ------------------------------------------------->
    <div class="programs">
        <div class="sections">
            <h1>PAST PROGRAMS</h1>
            <div>
            <img src="image/DIVINE 3.jpg">
            </div>
        </div>
        <div class="sections"> 
            <h1>CURRENT UNGOING PROGRAMS</h1>
            <div>
            <img src="image/DIVINE 1.jpg">
            </div>
        </div>
        <div class="sections"> 
            <h1>UPCOMING PROGRAMS</h1>
            <div>
            <img src="image/DIVINE 2.jpg">
            </div>
        </div>
        
    </div>

    <!--------------------------------------------- footer  ---------------------------->
<script src="Dmsa.js"></script>
</body>
</html>